@use 'variables' as *;

// mixins to take care of repeated patterns.
@mixin set-font($size: 1em, $line-height: normal, $font: $fonts-body) {
  font-family: $font;
  font-size: $size;
  line-height: $line-height;
}

@mixin set-flex($direction: row, $wrap: wrap) {
  display: flex;
  flex-flow: $direction $wrap;
}



@mixin uppercase($color: $text-dark) {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color;
}
@mixin divider($color: $accent2) {
  border-top: 1px solid $color;
  margin-top: 1em;
  padding-top: 1.5em;
}

// these styles here should describe how the atoms (elements) should appear most of the time.  They can be overridden at the molecule (block) as necessary
body{
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  background-color: $primary;
  margin: 0;
  padding: 1em;
}

html {
  background-color: $background-color;
  padding: 5%;
}

h2,
h3 {
  font-family: $subtitle-font;
  margin: 0;
}

p, h4 {
  font-family: $fonts-body;
  margin: 0;
}

h1 {
  font-size: 4em;
  font-family: $fonts-headline;
  color: $text-dark;
  font-weight: normal;
  
}
header h1{
  padding: 0px 10px;
  color: $text-light;
  font-size: 7em;
  font-weight: 900;
  text-shadow: 2px 3px $accent2;
  margin: 0;
  word-wrap: break-word;

  @media screen  and (max-width:480px){
    font-size: 5em;
  }

}

h2 {
  color: $text-light;
  font-weight: 900; /* Heavy */
  font-size: 3em;
  letter-spacing: 1px;
  line-height: 1em;
  @media screen  and (max-width:480px){
    font-size: 2em;
  }
}
h3 {
  font-size: 2.25em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  color: $accent2;
  text-shadow: .5px .5px $accent2;
  padding: 0.5em 0 0.25em 0;
  @media screen  and (max-width:480px){
    font-size: 1.7em;
  }
}
h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  @include set-font(1em, 1.5em);
  padding: 1% 2%;
  margin: 0;
}

a {
  color: $background-color;
  text-decoration: none;
}
a:hover {
  color: $accent2;
}

li{

}

ul{
  
}