@use 'variables' as *;

// mixins to take care of repeated patterns.
@mixin set-font($size: 1em, $line-height: normal, $font: $fonts-body) {
  font-family: $font;
  font-size: $size;
  line-height: $line-height;
}

@mixin set-flex($direction: row, $wrap: wrap) {
  display: flex;
  flex-flow: $direction $wrap;
}



@mixin uppercase($color: $text-dark) {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color;
}
@mixin divider($color: $accent2) {
  border-top: 1px solid $color;
  margin-top: 1em;
  padding-top: 1.5em;
}

// these styles here should describe how the atoms (elements) should appear most of the time.  They can be overridden at the molecule (block) as necessary
body{
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  background-color: $primary;
  margin: 0;
  padding: 1em;
}

html {
  background-color: $background-color;
  padding: 5%;
}

h2,
h3 {
  font-family: $subtitle-font;
  margin: 0;
}

p, h4 {
  font-family: $fonts-body;
  margin: 0;
}

h1 {
  font-size: 4em;
  font-family: $fonts-headline;
  color: $text-dark;
  font-weight: normal;
  
}
header h1{
  padding: 0px 10px;
  color: $text-light;
  font-size: 7em;
  font-weight: 900;
  text-shadow: 2px 3px $accent2;
  margin: 0;
  word-wrap: break-word;

  @media screen  and (max-width:680px){
    font-size: 5em;
  }

}

h2 {
  color: $text-light;
  font-weight: 900; /* Heavy */
  font-size: 3em;
  letter-spacing: 1px;
  line-height: 1em;
  @media screen  and (max-width:680px){
    font-size: 2em;
  }
}

h3 {
  font-size: 2.25em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  color: $accent2;
  text-shadow: .5px .5px $accent2;
  padding: 0.5em 0 0.25em 0;
  @media screen  and (max-width:680px){
    font-size: 1.7em;
  }
}
h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  @include set-font(1em, 1.5em);
  padding: 1% 2%;
  margin: 0;
}

a {
  color: $background-color;
  text-decoration: none;
}
a:hover {
  color: $accent2;
}

.explanation h3{
  grid-column: 1 / -1;
  text-align: left;
  @media screen  and (max-width:680px){
    grid-column: 1fr;
    justify-self: left;
    align-self: center;
  }
}

.explanation p{
  grid-column: 1 / 4;
  @media screen  and (max-width:680px){
    grid-column: span 2;
  }
}

.explanation::after{
    text-align: center;
    grid-column: 4/ -1;
    grid-row: 2 /4;
    background-image: url('/pictures/diamond.png');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    height: auto;
    content:"";
    @media screen  and (max-width:680px){
      grid-column: 2 / -1;
      grid-row: 1 / 2;
      min-height: 100px;
      min-width: 38vw;
      background-size: 50% auto;
    }
}

.participation h3{
  grid-column: 2 / -1;
  text-align: right;
  @media screen  and (max-width:680px){
    grid-column: 1 / 2;
    grid-row: 1;
    justify-self: left;
    align-self: center;
  }
}

.participation p{
  grid-column: 2 / -1 ;
  text-align: right;
  @media screen  and (max-width:680px){
    grid-column: span 2;
    justify-self: left;
    text-align: left;
  }
}

.participation::before{
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  background-image: url('./pictures/emerald2.png');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100%;
  height: auto;
  content:"";
  @media screen  and (max-width:680px){
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    min-height: 100px;
    min-width: 38vw;
    background-size: 38% auto;
  }
}

.requirements h3{
  text-align: left;
  grid-row: 1;
  grid-column: 1 / -1;
  @media screen  and (max-width:680px){
    grid-column: 1fr;
    justify-self: left;
    align-self: center;
  }
}

.requirements p{
  grid-column: 1 / 4; 
  @media screen  and (max-width:680px){
    grid-column: span 2;
  }
}

.requirements::after{
    grid-column: 4/ -1;
    grid-row: 2 / 4;
    background-image: url('./pictures/emerald1.png');
    background-size: 100% auto  ;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    height: auto;
    content:"";
    @media screen  and (max-width:680px){
      grid-column: 2 / -1;
      grid-row: 1 / 2;
      min-height: 100px;
      min-width: 38vw;
      background-size: 38% auto;
    }

}

.requirements p:nth-child(4){
  grid-column: 1 / -1;
  @media screen  and (max-width:680px){
    grid-column: span 2;
  } 
}

.requirements p:nth-child(5){
  grid-column: 1 / -1; 
  @media screen  and (max-width:680px){
    grid-column: span 2;
  }
}

.requirements p:nth-child(6){
  grid-column: 1 / -1;
  @media screen  and (max-width:680px){
    grid-column: span 2;
  } 
}

footer a{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer a:nth-child(1):after{
  content: url('./shapes/french.svg');
  width: 30px;
}

footer a:nth-child(2):after{
  content: url('./shapes/drop.svg');
  width: 30px;
}

footer a:nth-child(3):after{
  content: url('./shapes/emerald.svg');
  width: 30px;
}

footer a:nth-child(4):after{
  content: url('./shapes/halfRose.svg');
  width: 30px;
}
footer a:nth-child(5):after{
  content: url('./shapes/heart.svg');
  width: 30px;
}

ul {
  list-style: none;
}

ul li{
  display: block;
  background-image: url('./shapes/radiant.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left ;
  padding-left: 35px;
 
}