@use 'variables' as *;
@use 'atoms'; 


@mixin grid($columns, $space){
    display: grid;
    grid-template-columns: repeat( $columns, 1fr);
    gap: $space;
    
    @media screen  and (max-width:680px){
      grid-template-columns: 1fr;
      gap: 5px;
      grid-auto-rows: minmax(50px, auto);
      }

}
  

header {
    grid-area: head;
    @include atoms.set-flex(row, nowrap );
    align-items: center;
    justify-content: center;

    @media screen  and (max-width:680px){
        grid-area: head;
        @include atoms.set-flex(column, nowrap );
        align-items: flex-start;
        justify-content: flex-start;
    }

    
}

section::before{
    grid-area: picture;
    text-align: center;
    background-image: url('/pictures/Treasure.png');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    @media screen  and (max-width:680px){
        min-height: 150px;
        min-width: 38vw;
        background-size: 50% auto;
      }
  }



.summary {
    grid-area: summary;
    @include atoms.uppercase($text-light);
    border-style: dotted;
    border: 2px dotted $accent1 ;
    padding: 5%;
    text-align: justify;

    @media screen  and (max-width:680px){
        padding: 2%;
        margin: 5%;
    }
    

}

.preamble {
    grid-area: preamble;
    background-color: white;
    padding: 2%;
    text-align: justify;
    

}

.explanation {
    @include grid(4, 15px);
}


.participation {
    @include grid(4, 15px);
    justify-content: end;
    margin-top: 20px;

}

.benefits {
    margin: 30px auto;
}

.requirements {
    @include grid(4, 15px);
}

footer {
    display: flex;
    gap: 25px;
    width: 100%;
    height: auto;
    justify-content: center;
    font-size: 1.5em;
    margin-top: 20px;
}

#design-selection{



}

.navigation{

}

.design-archives{

}

.zen-resources{

}