@use 'variables' as *;

@use 'atoms'; 
@use 'molecules';

@mixin set-grid($columns, $space){
  display: grid;
  grid-template-columns: repeat( $columns, 1fr);
  gap: $space;
  
  @media screen  and (max-width:480px){
    grid-template-columns: 100%;
    gap: 5px;
    grid-auto-rows: minmax(200px, auto);
      
    }
}


// This sets the main grid for the page grid.
.page-wrapper{
  @include set-grid( 4, 1em);
  grid-template-areas: 
      "intro intro intro intro"
      "sidebar main main main"
      "sidebar main main main"
      ". footer footer footer";

  @media screen  and (max-width:680px){
    @include set-grid(1, 1em );
    grid-template-areas: 
      "intro"
      "sidebar"
      "main"
      "footer";
      }
  
}

//Claudia
#zen-intro {
    grid-area: intro;
    @include set-grid( 4, 1em);
    grid-template-areas: 
        ". head head head"
        "summary preamble preamble preamble"
        "summary preamble preamble preamble";


    @media screen  and (max-width:480px){
      grid-template-areas: 
        "head"
        "summary"
        "preamble";
    }
    

}

//Ammon
.main {
  grid-area: main;
}

//Brea
.sidebar {
  grid-area: sidebar;
}