@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Lancelot&family=Noto+Sans&display=swap');


$fonts-headline: 'Aboreto', cursive;
$subtitle-font: 'Lancelot', cursive;
$fonts-body: 'Noto Sans', sans-serif;

$background-color: #0892a5;
$primary: #dbb68f;
$accent1: #0ca4a5;
$accent2: #815136;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #333;
$text-light: #fff;
